@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Lobster&display=swap" rel="stylesheet');
.shopping-list {
    background-color: yellow;
    width: 100%;
    height: 150 px;
    margin-top: 0px;
}

ul  {
    background-color: teal;
    color: thistle;
}

ul li ul-style {
    float: left;
    color: thistle;
}

.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
  line-height: 31px;
}

.logo h1 {
    color: white;
    font-family: 'Baloo Bhai', cursive;
}
.profil {
   margin-right: 0;
   float: right;
}

.profil h4 {
    color: white;
}