/* .logo  {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  } */

.Pamdes {
  width: '200px';
  float: 'left';
  height: '64px';
  float: left;
  margin-right: 2%;
  
}

.judul {
  font-size: 30px;
  color: aliceblue;
  font-weight: bold;
}